.line-1{
    stroke: #cb2229;
    stroke-width: 3px;
    fill: none;
}

.line-2{
    stroke: #6f42c1;
    stroke-width: 3px;
    fill: none;
}

.value-point-1{

}

.value-point-2{
    stroke: #4b3b96;
    stroke-width: 2px;
    r: 3px;
    fill: #6f42c1;
    cursor: pointer;
}

