#navHeader {
    background-color: white;
    border: 2px solid #cb2229;
    border-top: none;
    border-right: none;
    padding: 8px;
    border-radius: 0 0 0 56px;
}

#navHeader .btn {
    border: none;
}

.full-height {
    min-height: -webkit-calc(100vh - 2px);
    min-height: -moz-calc(100vh - 2px);
    min-height: calc(100vh - 2px);
    /*padding-bottom: 56px;*/
    padding-top: 56px;
}

.full-height h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-footer {
    border: 2px solid #cb2229;
    border-left: none;
    border-bottom: none;
    border-radius: 0 56px 0 0;
    color: #000;
}

.my-footer p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#left-menu .nav-link.active{
    border-radius: 0;
    background-color: #aaa;
}

.object-card {
    height: calc(100vh - 164px);
    overflow: auto;
}

.card-header h5{
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-hover {
    cursor: pointer;
}

tr.active {
    background-color: #ffd2cc;
}

tr.active:hover {
    background-color: #ff9ea5 !important;
}
.invisible-table-row{
    display: none;
}

.row-group{
    font-weight: 600;
    background-color: #eee;
    cursor: pointer;
}

.dropdown-filter{
    width: 90%;
    margin: auto;
}

.hidden{
    display: none;
}

.lbl-header{
    font-weight: 600;
    padding: 0;
}

.edt-item{
    padding-left: 25px;
}

.input-group-append .btn.dropdown-toggle {
    padding: 5px 5px 5px 0;
    border-radius: 0 3px 3px 0;
}

#filter-panel .form-group{
    margin-bottom: 3px;
}

#filter-panel{
    overflow: auto;
}

#range-clear{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#date-range i {
    position: absolute;
    bottom: 8px;
    right: 8px;
    top: auto;
    cursor: pointer;
    z-index: 10;
}

.daterangepicker{
    z-index: 10;
}

#itemDetails .form-group{
    margin-bottom: 3px;
}

.preview{
    max-width: 240px !important;
    max-height:135px !important;
    cursor: pointer;
}

.preview-full{
    cursor: pointer;
}

#fullsize {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100vh;
}

#closeFullSize {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100000;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#fullsize img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.6);
}

.cursor-pointer{
    cursor: pointer;
}

.avatar{
    background-color: white;
    position: relative;
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    border-radius: 0 0 0 25%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 1px #cb2229;
    -moz-box-shadow: 0 0 1px #cb2229;
    box-shadow: 0 0 1px #cb2229;
    overflow: hidden;
    z-index: 99;
}

.topmenu-avatar{
    max-height: 36px;
    max-width: 36px;
}

.row-avatar{
    max-height: 34px;
    max-width: 34px;
}

.community-avatar{
    max-height: 64px;
    max-width: 64px;
}

.row-avatar-report{
    max-height: 44px;
    max-width: 44px;
}

.btn{
    cursor: pointer;
}

.community-list{
    width: 100%;
}

.from-me {
    position: relative;
    padding: 10px 20px;
    color: black;
    background: #ffc8ca;
    border-radius: 25px;
    float: right;
}
.from-me:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    right: -7px;
    height: 22px;
    border-right: 20px solid #ffc8ca;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-me:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 22px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.from-them {
    position: relative;
    padding: 10px 20px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
}
.from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 22px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 22px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.image-remove{
    position: relative;
    right: 32px;
    top: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #cb2229;
    height: 26px;
    text-align: center;
    line-height: 24px;
    width: 26px;
}

.image-remove:hover{
    background-color:#cb2229;
    color: white;
}

.red-table{
    page-break-inside: avoid;
}
.red-table, .red-table td{
    border-collapse: collapse;
    border: 2px solid #cb2229;
}

.green-table, .green-table td{
    border-collapse: collapse;
    border: 2px solid #0e8522;
}

.none-table, .none-table td{
    border: none;
}

#completed{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}