.body{
    font-family: 'Dejavu Sans', Arial, Helvetica, sans-serif;
}

.first-page{
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/reports/first_page_portrait.png);
    background-size: 100%;
    position: relative;
}

.report-title{
    width: 60%;
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 18pt;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.first-footer{
    width: 100%;
    text-align: center;
}

.first-page-header{
    margin-left: 13.5cm;
    width: 7cm;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 100vh 0 0 0;
    border: 2px solid #cb2229;
    border-right-style: none;
    padding: 1mm 0 1mm 0.5cm;
}

.first-page-value{
    font-size: 12pt;
    margin-left: 13.5cm;
    width: 7cm;
    padding: 1mm 0 1mm 0.5cm;
}

.data-header-left{
    float: left;
    width: 15cm;
    height: 1.5cm;
    border-radius: 0 0 100vh 0;
    border: 2px solid #cb2229;
    border-left-style: none;
    border-top-style: none;
    line-height: 1.5cm;
    padding: 0 1cm 0 0.5cm;
    font-size: 18pt;
    color: #cb2229;
}

.data-header-right{
    float: right;
    width: 3cm;
    margin-left: 1.5cm;
    height: 1.5cm;
    text-align: center;
    font-size: 12pt;
    padding: 2mm 5mm 0 0;
}

.data-footer-left{
    float: left;
    width: 18cm;
    height: 7mm;
    border-bottom: 1px solid #AAA;
}

.data-footer-right1{
    float: left;
    width: 1.5cm;
    height: 7mm;
    text-align: center;
    border: 1px solid #AAA;
    border-bottom: none;
    line-height: 6.5mm;
}

.data-footer-right2{
    float: left;
    width: 14mm;
    height: 7mm;
    border-bottom: 1px solid #AAA;
}

.red-table{
    margin-left: 1cm;
    margin-right: 1cm;
    page-break-inside: avoid;
}
.red-table, .red-table td{
    border-collapse: collapse;
    border: 2px solid #cb2229;
}

.none-table, .none-table td{
    border: none;
}

div.mpdf_toc {
    font-size: 14pt;
    margin-left: 2cm;
    margin-right: 1cm;
}

span.mpdf_toc_t_level_0 {
    font-weight: normal;
}

.chart-table{
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

